$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

$tiny-text: 10px !important;
$small-text: 12px !important;
$medium-text: 14px !important;
$large-text: 16px !important;


@mixin respond-to($breakpoint) {
    @if $breakpoint ==small {
        @media (max-width: $breakpoint-small) {
            @content;
        }
    }

    @else if $breakpoint ==medium {
        @media (max-width: $breakpoint-medium) {
            @content;
        }
    }

    @else if $breakpoint ==large {
        @media (max-width: $breakpoint-large) {
            @content;
        }
    }

    @else if $breakpoint ==xlarge {
        @media (max-width: $breakpoint-xlarge) {
            @content;
        }
    }
}

// Set max-width elements
.chatbox-message,
.chatbox-message:before,
.chatbox-message__header>div,
.chatbox-message__content>div,
div[style*="white-space: nowrap;"] {
    white-space: normal !important;
    max-width: 60vw !important;

    @include respond-to(large) {
        max-width: 70vw !important;
    }

    @include respond-to(medium) {
        max-width: 75vw !important; // Adjust the width for medium screens
    }

    @include respond-to(small) {
        max-width: 85vw !important; // Adjust the width for small screens
    }
}

.chatbox__chatroom {
    max-height: 60vh;

    @media (max-height: 500px) {
        max-height: 50vh;
    }
}

// hide system messages completely
li:has(.chatbox-message):has(aside > figure > i) {
    display: none !important;
}

.chatbox--fullscreen .chatbox__chatroom {
    // view height - chat header - panels
    max-height: calc(100vh - 36px - 37px);
}

.chatbox-message__header>div,
.chatbox-message__content>div {
    color: #aaaaaa !important;
}

.chatbox-message__header>div {
    font-size: $small-text;
}

.chatbox__chatroom {
    line-height: 1.1 !important;
    background-color: #1c1c1c;
}

.panel__tabs {
    background-color: #1c1c1c;
}

.chatbox-message,
.chatbox-message:before {
    background-color: transparent;
    border: none;
    font-size: $medium-text;
}

// Re-position avatar
.chatbox-message__aside {
    bottom: auto;
    top: 4px;
}

.chatbox-message__time {
    padding: 0;
    font-size: $tiny-text;
    color: #aaaaaa80 !important;
}